<section class="profile">
    <div class="profile-header">
        <img src="{{user.profilePic}}" alt="{{user.name}}'s Profile Picture" class="profile-pic">
        <h1>{{user.name}}</h1>
        <p>{{user.role}}</p>
    </div>

    <div class="profile-details">
        <h2>Profile Details</h2>
        <ul>
            <li><strong>Phone:</strong> {{user.phone}}</li>
            <li><strong>Email:</strong> {{user.email}}</li>
            <li><strong>Company ID:</strong> {{user.companyID}}</li>
            <li><strong>Job Role:</strong> {{user.jobRole}}</li>
            <li><strong>Experience:</strong> {{user.experience}}</li>
            <li><strong>GitHub:</strong> <a href="{{user.githubLink}}" target="_blank">{{user.githubLink}}</a></li>
            {{#if user.resume}}
                <li><strong>Resume: [TO IMPLEMENT]</strong> </li>
            {{/if}}
        </ul>
    </div>

    <div class="profile-actions">
        <a href="/profile/edit" class="btn">Edit Profile</a>
        <a href="/logout" class="btn btn-logout">Logout</a>
    </div>
</section>