<section class="profile">
    <div class="profile-header">
        {{ log user.profilePic}}
        <img src="/uploads/{{user.profilePic}}" alt="{{user.firstname}}'s Profile Picture" class="profile-pic">
        <h1>{{user.name}}</h1>
        <p>{{user.role}}</p>
    </div>

    <div class="profile-details">
        <h2>Profile Details</h2>
        <ul>
            <li><strong>Phone:</strong> {{user.phone}}</li>
            <li><strong>Email:</strong> {{user.email}}</li>
            <li><strong>Company ID:</strong> {{user.companyID}}</li>
            <li><strong>Job Role:</strong> {{user.jobRole}}</li>
            <li><strong>Experience:</strong> {{user.experience}}</li>
            <li><strong>GitHub:</strong> <a href="{{user.githubLink}}" target="_blank">{{user.githubLink}}</a></li>
             {{#if this.resume}}
        <p><strong>Resume:</strong> <a href="/uploads/{{user.resume}}" target="_blank">Download Resume</a></p>
        {{else}}
        <p><strong>Resume:</strong> Not provided</p>
        {{/if}}
        </ul>
    </div>

    <div class="profile-actions">
    <a href="/user/edit" class="btn">Edit Profile</a>
    <form action="/user/{{user.id}}?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete your profile?');">
            Delete Profile
        </button>
    </form>
</div>
</section>