<div>
    <h1> Applicants </h1>
    {{#if applicants.length}}
        <ul class="applicant-list">
            <li class="applicant-card">
                {{#each applicants}}
                <p><strong>Name:</strong> {{this.name}}</p>
                <p><strong>Date Applied:</strong> {{this.date_applied}}</p>

                <form action="/savedHistory/{{this._id}}" method="POST" style="display: inline;">
                 <input type="hidden" name="name" value="{{this.name}}">
                    <input type="hidden" name="date" value="{{this.date_applied}}">
                    <input type="hidden" name="Job_id" value="{{this._id}}">
                    <input type="hidden" name="user_id" value="{{this.user_id}}">
                    <button type="submit" class="btn-save">Save Applicant</button>
                </form>
                {{/each}}
            </li>
        </ul>
    {{else}}
        <p>No applicants found.</p>
    {{/if}}
</div>
