<section class="job-feed">
  <h1>Job Openings</h1>
  <!-- Post Job Button -->
  <div class="post-job-container">
    {{#if showPostButton}}
    <a href="/job/create" class="post-job-button">Post a Job</a>
    {{/if}}
  </div>

  <div class="search-box">
    <form action="/job" method="GET">
      <input type="text" name="query" placeholder="Search by name">
      <button type="submit" class="search-button">Search</button>
    </form>
  </div>

  {{#if emptyFilter}}
  <p>No results found</p>
  {{else}}
  {{#each jobMock}}
  <div class="job-card">
    <h2>{{this.company}}</h2>
    <p><strong>Description:</strong> {{this.job_description}}</p>
    <p><strong>Compensation:</strong> {{this.compensation}}</p>
    <p><strong>Mode:</strong> {{this.mode}}</p>
    <p><strong>Category:</strong> {{this.category}}</p>
    <p><strong>Posted on:</strong> {{this.posted_date}}</p>
    <p><strong>Likes:</strong> {{this.likes}}</p>
    <p><strong>Dislikes:</strong> {{this.dislikes}}</p>

    <div class="button-group">
      {{#if ../isRecruiter}}
      <a href="/job/{{this._id}}/applicants" class="btn">View Applicants</a>
      {{else}}
      {{#if this.userHasApplied}}
      <p>Applied</p>
      {{else}}
      <form action="job/apply/{{this._id}}" method="POST" style="display: inline;">
        <input type="hidden" name="Job_id" value="{{this.job_id}}" />
        <input type="hidden" name="Applied_datetime" value="{{../current_datetime}}" />
        <button type="submit" class="apply-button">Apply Now</button>
      </form>
      {{/if}}
      {{#if this.userHasLiked}}
      <form action="job/like/{{this._id}}" method="POST" style="display: inline;">
        <input type="hidden" name="Job_id" value="{{this.job_id}}" />
        <button type="submit" class="liked-button">Liked &#128578</button>
      </form>
      {{else}}
      <form action="job/like/{{this._id}}" method="POST" style="display: inline;">
        <input type="hidden" name="Job_id" value="{{this.job_id}}" />
        <button type="submit" class="like-button">Like</button>
      </form>
      {{/if}}
      {{#if this.userHasDisliked}}
      <form action="job/dislike/{{this._id}}" method="POST" style="display: inline;">
        <input type="hidden" name="Job_id" value="{{this.job_id}}" />
        <button type="submit" class="disliked-button">Disliked &#128579</button>
      </form>
      {{else}}
      <form action="job/dislike/{{this._id}}" method="POST" style="display: inline;">
        <input type="hidden" name="Job_id" value="{{this.job_id}}" />
        <button type="submit" class="dislike-button">Dislike</button>
      </form>
      {{/if}}
      {{/if}}
    </div>
  </div>
  {{/each}}
  {{/if}}
  </div>
</section>