
{{log applicants}}
{{#if applicants.length}}
    <ul class="saved-jobs-list">
        {{#each applicants}}
        <li class="saved-job-card">
            <h2>Applicant: {{this.name}}</h2>
            <p><strong>Job ID:</strong> {{this.job_id}}</p>
            <p><strong>Applied On:</strong> {{this.date_applied}}</p>
            <form action="/savedHistory/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="remove-job-button" onclick="return confirm('Are you sure you want to delete this job application?');">
                    Remove
                </button>
            </form>
            <a href="/user/{{this.user_id}}" class="btn btn-secondary"> Go to Profile </a>
        </li>
        {{/each}}
    </ul>
{{else}}
    <p>No saved jobs found.</p>
{{/if}}