<div class="card-grid">
            {{#each candidates}} 
            <div class="card">
                <img src="{{this.profilePic}}" alt="{{this.firstname}} {{this.lastname}}" class="profile-pic">
                <h3>{{this.firstname}} {{this.lastname}}</h3> 
                <p><strong>Job Role:</strong> {{this.jobRole}}</p> 
                <p><strong>Experience:</strong> {{this.experience}}</p>
                <p><strong>GitHub:</strong> <a href="{{this.githubLink}}" target="_blank">{{this.githubLink}}</a></p> 
            </div>
            {{/each}}
        </div>